body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #10324c;
}
.title {
    color: white;
    text-transform: capitalize;
    font-family: Inter, sans-serif;
    margin-left: 185px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 70px;
    cursor: pointer;
}
.gridcont {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 35px;
    column-gap:140px;
    justify-content: center;
    justify-items: center;
}
.flexcont {
    display: flex;
    flex-direction: column;
}
.img_game {
    width: 300px;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.img_game:hover {
    opacity: 1;
}
.gamename {
    color: white;
    font-size: 20px;
    margin-left: 18px;
    font-weight: 400;
}
.desc {
    color: rgba(245, 245, 245, 0.6);
    font-size: 14px;
    margin-left: 18px;
    letter-spacing: 0.2px;
    line-height: 20px;
    width: 315px;
}
.price {
    color: white;
    font-size: 22px;
    margin-left: 18px;
    display: inline-block;
    margin-right: 28px;
}
.center {
    margin-left: 100px;
} 